/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

 html {
    height: 100%;
    width: 100%;
 }

 body {
  margin: 0;
  background-color: #fff;
  height: 100%;
 }

 input:focus {
  outline: none;
  box-shadow: none;
}
