/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

html {
  height: 100%;
  width: 100%;
}

* {
  transition: all 0.1s;
}

body {
  margin: 0;
  background-color: #fff;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #141414;
  }
}

input:focus {
  outline: none;
  box-shadow: none;
}
